.main{
    background-color: black;
    color: white;
    height: 100vh;
    width: 100%;
}
.main h1{
    margin: 0;
    padding: 0;
}
.x{
    height: 10vh;
    width: 100%;
}
.head{
    padding: 0;
    margin: 0;
    padding-left: 5vw;
    font-size: 2rem;
    height: 20vh;
}
.sty{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-group {
    position: relative;
}
.input-icon {
  position: absolute;
  top: 34%;
  left: 4%;
  transform: translateY(-50%);
  width: 7%;
  height: auto;
  fill: #b3b3b3;
}
.form-control {
  background-color: #747474;
  color: #E5E5E5;
  border: none;
  border-radius: 20px;
  padding: 10px 20px 10px 40px; /* added left padding to accommodate icon */
  margin-bottom: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  font-family: inherit;
  font-size: 1.2rem;
}
.form-control::placeholder {
  color: #B3B3B3;
}
.end{
    display: flex;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    font-weight: 900;
}
.submit-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.submit-button img {
  transform: rotate(-90deg);
}

.back{
    display: flex;
    align-items: flex-end;
    height: 10vh;
    justify-content: center;
}
.n{
    text-decoration: none;
}
.back span{
    color: white;
    font-size: 1rem;
    font-weight: 200;
    text-decoration: none;
}


@media (min-width:800px) {
    .head{
        height: 10vh;
    }
    .sty{
        height: 45vh;
        margin-top: 5vh;
    }
    .end{
        padding-left: 15%;
        width: 70%;
    }
}
@media (max-width:600px) {
    .x{
        height: 5vh;
        width: 100%;
    }
    .head{
        font-size: 1.8rem;
    }
    .form-control{
        font-size: 0.95rem;
    }
    .back{
        height: 8vh;
        padding-bottom: 2vh;
    }
}
@media (max-width:300px) {
    .head{
        font-size: 1.5rem;
    }
    .form-control{
        font-size: 0.95rem;
    }
}